<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img
          src="/assets/imgs/theme/logo.svg"
          class="logo"
          alt="Evara Dashboard"
        />
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="/admin/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>

          <a class="menu-link" href="/admin/categories">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Categories</span>
          </a>

        
          <a class="menu-link" href="/admin/product-list">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Products</span>
          </a>
        
       
          <a class="menu-link" href="page-sellers-cards.html">
            <i class="icon material-icons md-store"></i>
            <span class="text">Orders</span>
          </a>
        
        
          <a class="menu-link" href="/admin/users-list">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Users</span>
          </a>
        
        
          <a class="menu-link" href="page-transactions-1.html">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Sales Report</span>
          </a>
        
        
          <a class="menu-link" href="#">
            <i class="icon material-icons md-person"></i>
            <span class="text">Banner Management</span>
          </a>
        
        
          <a class="menu-link" href="page-reviews.html">
            <i class="icon material-icons md-comment"></i>
            <span class="text">Coupon Management</span>
          </a>
        
      </ul>
      <hr />
      <br />
      <br />
    </nav>
  </aside>