<div class="col-lg-3 col-xl-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Brand</h3>
                <ul>
                    <li><a href="#">Nike</a></li>
                    <li><a href="#">Adidas</a></li>
                    <li><a href="#">FILA</a></li>
                    <li><a href="#">Puma</a></li>
                    <li><a href="#">Skechers</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Size/Width</h3>
                <div class="block-26 mb-2">
                    <h4>Size</h4>
               <ul>
                  <li><a href="#">7</a></li>
                  <li><a href="#">7.5</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">8.5</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">9.5</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">10.5</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#">11.5</a></li>
                  <li><a href="#">12</a></li>
                  <li><a href="#">12.5</a></li>
                  <li><a href="#">13</a></li>
                  <li><a href="#">13.5</a></li>
                  <li><a href="#">14</a></li>
               </ul>
            </div>
            <div class="block-26">
                    <h4>Width</h4>
               <ul>
                  <li><a href="#">M</a></li>
                  <li><a href="#">W</a></li>
               </ul>
            </div>
            </div>
        </div>
        
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Colors</h3>
                <ul>
                    <li><a href="#">Black</a></li>
                    <li><a href="#">White</a></li>
                    <li><a href="#">Blue</a></li>
                    <li><a href="#">Red</a></li>
                </ul>
            </div>
        </div>
        
        
    </div>
</div>