<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Product details</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="frontendassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="frontendassets/css/main.css?v=3.4">
</head>

<body>
    <!-- Quick view -->
    
    <header class="header-area header-style-1 header-height-2">
        
        
        
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>

                </div>
            </div>
        </div>
        <sect ion class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-2.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-1.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-3.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-4.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-5.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-6.jpg" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="frontendassets/imgs/shop/product-16-7.jpg" alt="product image">
                                            </figure>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="frontendassets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                            <div><img src="frontendassets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                            <div><img src="frontendassets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                            <div><img src="frontendassets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                            <div><img src="frontendassets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                            <div><img src="frontendassets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                            <div><img src="frontendassets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">SHOES</h2>
                                        <div class="product-detail-rating">
                                            
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">$120.00</span></ins>
                                                <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                                <span class="save-price  font-md color3 ml-15">25% Off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem officia, corrupti reiciendis minima nisi modi, quasi, odio minus dolore impedit fuga eum eligendi? Officia doloremque facere quia. Voluptatum, accusantium!</p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                                <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                                <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                                <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                                <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li><a href="#">S</a></li>
                                                <li class="active"><a href="#">M</a></li>
                                                <li><a href="#">L</a></li>
                                                <li><a href="#">XL</a></li>
                                                <li><a href="#">XXL</a></li>
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    
    
    <script src="frontendassets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="frontendassets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="frontendassets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="frontendassets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="frontendassets/js/plugins/slick.js"></script>
    <script src="frontendassets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="frontendassets/js/plugins/wow.js"></script>
    <script src="frontendassets/js/plugins/jquery-ui.js"></script>
    <script src="frontendassets/js/plugins/perfect-scrollbar.js"></script>
    <script src="frontendassets/js/plugins/magnific-popup.js"></script>
    <script src="frontendassets/js/plugins/select2.min.js"></script>
    <script src="frontendassets/js/plugins/waypoints.js"></script>
    <script src="frontendassets/js/plugins/counterup.js"></script>
    <script src="frontendassets/js/plugins/jquery.countdown.min.js"></script>
    <script src="frontendassets/js/plugins/images-loaded.js"></script>
    <script src="frontendassets/js/plugins/isotope.js"></script>
    <script src="frontendassets/js/plugins/scrollup.js"></script>
    <script src="frontendassets/js/plugins/jquery.vticker-min.js"></script>
    <script src="frontendassets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="frontendassets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/frontendassets/js/main.js?v=3.4"></script>
    <script src="/frontendassets/js/shop.js?v=3.4"></script>
</body>

</html>