<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="signup-container">
        <form action="/signup" method="POST" onsubmit="validateForm(event)">
            <div class="error-message">
                <% if (errorMessage ) { %>
                  <p style="color: red;"><%= errorMessage %></p>
                  
                <% } %>
              </div>
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Number:</label>
                <input type="tel" id="mobile" name="mobile" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <p id="passwordError" style="color: red;"></p>
            
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit" >Sign Up</button>
        </form>

  <script>
    function validateForm(event) {
       event.preventDefault(); // Prevent the default form submission   
       const password = document.getElementById("password").value;
       const confirmPassword = document.getElementById("confirm-password").value;
       const passwordError = document.getElementById("passwordError");
       if (password !== confirmPassword) {
          passwordError.textContent = "Passwords do not match"; // Display the error message
       } else {
          passwordError.textContent = ""; // Clear the error message
          event.target.submit(); // Submit the form if passwords match
       }
    }
 </script>
</body>
</html>
