<!DOCTYPE html>
<html>
  <head>
    <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="css/otpPage.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>

<div class="container mt-5 my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
             <div class="card mt-4">
                                <div class="card-body text-center">
                                    <div class="heading_s1">
                                        <h3 class="mb-30 mt-3">OTP Verification</h3>
                                    </div>
                                    <form action="/sendOTP" method="post">
                                        <div class="form-group">
                                            <label for="otp">Enter OTP:</label>
                                            <input type="text" class="form-control" id="otp" name="otp"
                                                placeholder="Enter OTP" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-2">Verify OTP</button>
                                    </form>
                                    <button type="submit" id="resendOTPButton"
                                        class="btn btn-warning mt-3 text-light">
                                        <a class="text-light" href="/reSendOTP">Resend OTP</a></button>
                                    <div id="timer" class="mt-3">Timer: 1:00</div>
                                </div>
                            </div>
        </div>
    </div>
</div>
</main>


<script>
    // Set the initial time to 60 seconds (1 minute)
    let timerSeconds = 30;

    // Function to update the timer display
    function updateTimer() {
        const timerElement = document.getElementById("timer");
        timerElement.textContent = `Timer: ${Math.floor(timerSeconds / 60)}:${(timerSeconds % 60)
            .toString()
            .padStart(2, "0")}`;

        if (timerSeconds <= 0) {

            document.getElementById("resendOTPButton").removeAttribute("disabled");
        } else {
            // Continue the countdown
            timerSeconds--;
            setTimeout(updateTimer, 1000); // Update the timer every 1 second
        }
    }
    updateTimer();

    const alert = document.getElementById('message')
    setTimeout(() => {
        alert.style.display = 'none'
    }, 4000);
</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
